<div class="back-modal animated fadeIn" [ngClass]="_modalUploadService.none">
  <div class="modal d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="closeModal()" type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img *ngIf="!imageTemp" [src]="'xxx' | image" width="200" class="mb-3 img-thumbnail rounded">
            <img *ngIf="imageTemp" [src]="imageTemp" width="200" class="mb-3 img-thumbnail rounded">
          </div>
          <input type="file" (change)="imageSelect($event.target.files[0])">
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="upload()" [disabled]="!imageTemp" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
